body {
    margin: 0;
    padding: 0;
    /*background-image: url("http://dailybruin.com/images/2016/04/coachella-16-cover.jpg");*/
    background-image: url("../icon/background.jpg");
    background-size: cover;
    background-position: center 100%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

@media only screen and (max-width: 40em) { 
	body {
		
		background-position: 90% 100%;
	}
}

p, h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.top-spacer {
	height: 10vh;
}

.byline-bottom {
	position: absolute;
	bottom: 0;
	right: 1rem;
	background: rgba(255,255,255,0.7);
	padding: 0 1rem 0 1rem;
}

.db-logo {
    left: 0;
    bottom: 0;
    width: 2.5rem;
    margin: 0.8rem;
    position: absolute;
}

.bolded {
	font-weight: 600;
}

.coachella-logo {
	display: block;
	margin: 0 auto 7vh auto;
	left: 0;
	right: 0;
	height: 16vh;
	max-width: 100vw;
}

.byline-bottom p {
	margin: 0.2rem;
}

.byline {
	float: right;
}

@media only screen and (max-width: 40em) {
	.db-logo {
		width: 2rem;
		z-index: 2;
		bottom: -7px;
	}
	.coachella-logo {
		margin: -2rem auto 1vh auto;
	}
	.top-spacer {
		height: 4vh;
	}
	.byline-bottom p {
		margin: 0;
	}
	.byline-bottom {
		right: 0;
	}
}

.boxes-container {
	margin: auto;
	width: 590px;
}

.day1-box, .day2-box, .day3-box, .after-box {
    background-color: rgba(255, 255, 255, 0.8);
    float: left;
    width: 43%;
    height: 20vh;
    line-height: 100%;
    margin: 3.5%;
    border-radius: 1.5rem;
    text-align: center;
}

.box-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin-top: 9vh;
	font-size: 3rem;
}

h1#after-title-1 {
    margin: 6vh 0 0 0;
}
h1#after-title-2 {
	margin: 5vh 0 2vh 0;
}

@media only screen and (max-height: 700px) {
	h1#after-title-1 {
	    margin: 5vh 0 0 0;
	}
}

@media only screen and (max-width: 40em) { 
	.boxes-container {
		width: 11rem;
	}

	.day1-box, .day2-box, .day3-box, .after-box {
		width: 100%;
		margin-bottom: 10%;
		height: 15vh;
	}
	.box-title {
		font-size: 4.2vh;
		margin-top: 6.2vh;
	}
	h1#after-title-1 {
	    margin: 3.5vh 0 0 0;
	}
	h1#after-title-2 {
		margin: 3vh 0 1vh 0;
	}
}

.day1-box h1, .day2-box h1, .day3-box h1 {
	color: black;
}

/* COMING SOON HOVER & GREY */

.after-box h1 {
	opacity: 0.4;
}

.coming-soon {
	opacity: 0;
	transition: opacity 1s;
}