body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
    overflow: hidden;
}

/* HEADER CSS HERE */
.header-global {
    position: absolute;
    width: 100%;
    background-color: white;
    text-align: center;
}
.header-global img {
    position: absolute;
    height: 3rem;
    margin: 0.7rem;
}
img.header-db-logo {
    left: 0;
}
img.header-coachella-logo {
    right: 0;
    height: 3.2rem;
}
h1.header-title-main {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
img.header-arrow-right {
    right: 30vw;
    height: 1.8rem;
    margin-top: 1.3rem;
    transition: opacity 1s;
}

/* TOOLTIP RIGHT ARROW CSS */
.coming-soon-tooltip {
    opacity: 0;
    text-align: center;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
    transition: opacity 1s;
    right: 25vw;
    top: 2.5rem;
}
.coming-soon-tooltip p {
    margin: 0;
}
.right-arrow-div:hover .coming-soon-tooltip {
    opacity: 1;
}
.right-arrow-div:hover .header-arrow-right {
    opacity: 0.4;
}
/* */

@media only screen and (max-width: 40em) { 
    h1.header-title-main {
        font-size: 3rem;
    }
    img.header-coachella-logo {
        display: none;
    }
    img.header-arrow-right {
        right: 10vw;
    }
    .coming-soon-tooltip {
        right: 0vw;
    }
}


/* CONTENT CSS */
.content-main {
    overflow-y: auto;
    padding-top: 7rem;
    height: 100%;
    /*background-color: gray;*/
    background-image: url("http://dailybruin.com/images/2016/04/coachella-16-sky-bg.jpg");
    background-size: cover;
    background-position: center center;
}

/* BYLINES */
.bylines {
    padding: 0.7rem;
    width: 800px;
    max-width: 90vw;
    margin: auto;
    background-color: white;
}
.leftbyline {
    display: none;
    float: left;
}
.leftbyline p, .rightbyline p {
    display: inline;
    font-size: 1.2rem;
}

.leftbyline-bottom {
    float: left;
}
.leftbyline-bottom p {
    display: inline;
    font-size: 1.2rem;
}
.rightbyline {
    float: right;
}
.byline-emphasized {
    font-weight: 600;
}
#bottom-byline {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 590px) { 
    .leftbyline p, .rightbyline p {
        font-size: 1rem;
    }
}

/* PHOTOESSAY CARDS */

.photocard {
    margin: auto;
    height: auto;
    max-width: 90vw;
    width: 800px;
    background-color: white;
    margin-top: 3rem;
}

.card-top p {
    padding: 1rem 1rem 0rem 1rem;
    margin-bottom: 0px;
    font-size: 1.4rem;
    
}

p.timestamp {
    font-weight: 300;
    float: left;
}

p.cardartist {
    float: right;
    font-weight: 600;
}

p.cardcaption {
    padding: 0rem 1rem 1rem 1rem;
}

img.cardpic {
    padding: 1rem 0rem 1rem 0rem;
    max-height: 85vh;
    display: block;
    margin: 0 auto;
}


/* RECAP CSS*/
.recap {
    display: none;
    margin: auto;
    height: auto;
    max-width: 90vw;
    width: 800px;
    background-color: white;
    margin-top: 3rem;
    padding-top: 1rem;
}

.recap p {
    padding: 0rem 1rem 1rem 1rem;
    margin: 0;
}

p.recap-caption {
    text-align: right;
    padding-bottom: 1.5rem;
    font-weight: 400;
}

h2.recap-headline {
    padding: 0rem 1rem 0rem 1rem;
    font-size: 2rem;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

